.container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.label {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    text-align: left;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: vertical;
}

.button-container {
    margin-top: 20px;
}

.button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #1e7e34;
}

.cancelButton {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.cancelButton:hover {
    background-color: #d39e00;
}