.container {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.listProducts {
  margin-top: 40px;
}

.product {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.productInfo {
  flex: 1;
  text-align: left;
}

.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.product p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.detailsButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.detailsButton:hover {
  background-color: #0056b3;
}

.editButton {
  background-color: #ffc107;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.editButton:hover {
  background-color: #d39e00;
}

.deleteButton {
  background-color: #ff3547;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.deleteButton:hover {
  background-color: #d00f1a;
}

.insertButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}

.greenButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.greenButton:hover {
  background-color: #1e7e34;
}

.viewAllLink {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.viewAllLink:hover {
  text-decoration: underline;
}