.modalContainer {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.detailsContent {
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.imageContainer {
    text-align: center;
}

.productImage {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    display: block;
}

.closeButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.closeButton:hover {
    background-color: #0056b3;
}